body {
    font-family: 'Raleway', sans-serif;
    padding: 1%;
    margin: 1% 2% 1% 2%;
    width: 1440px;
    height: 1884px;
    font-size: 16px;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color:inherit;
}

/*-- Header --*/


#header-first-line {
    display: flex;
    justify-content: space-between;
    color: #0065FC;
    align-items: center;

}

#header-first-line a {
    font-weight: 700;
    margin: 0 4% 0 4%;
}

header nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: -50px;
    margin-left: 800px;
}

header ul a {
    margin-right: 70px;
    text-decoration: none;
    font-weight: 500;
}

header nav ul :nth-child(1)  {
    border-top: 2px solid #0065FC;
    padding-block-start: 14%;
    
}

header nav a:active {
    border-top: 2px solid #0065FC;
    padding-block-start: 14%;
}

header h1 {
    font-size: 1.5em;
    margin-top: 3%;
}

header p {
    margin-top: -0.5%;
    font-size: 0.9em;
}

/* Search input */

#header-search p {
    font-weight: 500;
    text-align: left;
}

#header-search-input {
    height: 40px;
}

#header-search input {
    width: 12%;
    font-weight: 700;
    margin-right: -5px;
    margin-left: 10px;
    height: 100%;
    border-width:0;
}

#header-search span i {
    background: #f2f2f2;
    padding:1.3%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

header button {
    background-color: #0a5ff4 ;
    border: none;
    height: 105%;
    width: 8%;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    padding: 0%;
    color: white;
    font-weight: 500;
    font-size: 1em;
}

/*-- Main --*/

main {
    height: 1300px;
}


/*-- Filters --*/

#filters {
    margin: 2% 0 2% 0;
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding: 0.5em;
}

.filter-content:hover {
    transform: scale(1.2);
    transition: transform .9s ease;
}

#filters i {
    color:#0a5ff4;
    background-color: #ddeafd;
    width: 2.2em;
    height: 2.2em;
    border-radius: 1.7em;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 1.5em;
}

.filter-container {
    vertical-align: middle;
    padding-top: 0.5em;
}

.filter-content {
    font-weight:bold;
    font-size: 0.9em;
    display: flex;
    border: 0.18em #d8d8d8 solid;
    border-radius: 2.4em;
    align-items: center;
}

#filters p {
    margin-left: 1em;
    margin-right: 1.1em;
    font-weight: 800;
}

#result-information p {
    font-weight: 400;
    font-size: 0.9em;
}

#result-information span {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 0.08em #d8d8d8 solid;
    border-radius: 2.4em;
    text-align: center;
    margin-right: 0.5%;
    position:relative;
    top: -05px;
}

#result-information span i {
    font-size: 0.8em;
    color:#0a5ff4;
}


/*-- Accomodation --*/

#accomodations {
    display: flex;
    justify-content: space-between;
    margin: 3% 0 3% 0;
}

#accomodations section {
    background-color: #f2f2f2;
    flex: 2;
    border-radius: 1em;
    margin-right: 4em;
    padding-left: 2em;
}
#accomodations aside {
    background-color: #f2f2f2;
    flex: 1;
    border-radius: 1em;
    padding-left: 2em;
}

#accomodations-content {
    display: flex;
    flex-wrap: wrap;   
}

.accomodation-card:hover {
    transform: scale(1.02);
    transition: transform .4s ease;
}

.accomodation-card {
    size: 10%;
    background-color: white;
    width: 250px;
    height: 200px;
    border-radius: 1em;
    font-size: 0.8em;
    text-decoration: none;
    box-shadow: 1px 1px 6px #9999;
    margin:0 3em 3em 0;
    text-align: center;
}

.accomodation-card h3, .accomodation-card p, .accomodation-card img {
    margin: 0% 0% 2.5% 0%;
}

.accomodation-card-information {
    padding-left: 4%;
    text-align: left;
}

.accomodation-card img {
    object-fit: cover;
    margin-top: 2%;
    width: 240px;
    height: 120px;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}


/* Popular - Aside */

#accomodations-popular-title {
    display: flex;
    justify-content: space-between;
    margin-right: 20%;
}

#accomodations-popular-title i {
    position: relative;
    top: 27px;
    font-size: 1.25em;
}

#accomodations-popular-content .accomodation-card {
    width: 330px;
    height: 140px;
    padding: 1% 1%;
}


#accomodations-popular-content div {
    padding: 15px 15px;
}

#accomodations-popular-content .accomodation-card img {
    border-radius: 0.5em 0px 0px 0.5em;
    max-width: 130px;
    height: 140px;
    margin: 0.1% 0 0% 0;
    object-fit: cover;
}

#accomodations-popular-content .accomodation-card a {
    display: flex;
}


#accomodations-popular-content p {
    margin: 5% 0 25% 0;
}

/* rating stars color */

.checked {
    color:#0065FC;
}

.unchecked {
    color: #cecece;
}

/*-- Activities --*/

#activities-content {
    display: flex;
    flex-wrap: wrap;
}

.activities-content-stair-container {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    margin: 1% 0 1% 0;
}

#activities h1 {
    vertical-align: bottom;
    margin-left: 2.2%;
    margin-bottom: -0%;
}

#activities h3 {
    margin: 3% 0% 0 5%;
}

.activities-content-article {
    background-color: white;
    width: 300px;
    height: 440px;
    border-radius: 0.8em;
    font-size: 1em;
    text-decoration: none;
    box-shadow: 2px 2px 6px #e6e6e6;
    margin: 2% 2% 2% 2%;
    object-fit: cover;
}

.activities-content-stair-container article {
    background-color: white;
    width: 300px;
    height: 210px;
    border-radius: 0.8em;
    font-size: 1em;
    text-decoration: none;
    box-shadow: 2px 2px 6px #e6e6e6;
    margin: 2% 2% 2% 2%;
    object-fit: cover;
}

.activities-content-stair-container article img {
    width: 300px;
    height: 160px;
    border-top-right-radius: 0.8em;
    border-top-left-radius: 0.8em;
    object-fit: cover;
}

.activities-content-article img {
    width: 300px;
    height: 390px;
    border-top-right-radius: 0.8em;
    border-top-left-radius: 0.8em;
    object-fit: cover;
}

/*-- Footer --*/

footer {
    display: flex;
    justify-content:left;
    background-color: #f2f2f2;
    margin-top: 5%;
}

footer section {
    text-align: left;
    padding-right: 15%;
}

footer h2 {
    padding-left: 40px;
}

footer li {
    list-style: none;
    padding-bottom: 15px;
    font-size: 0.9em;
}
