/* Body et paramètres généraux */

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
}

#body-without-footer {
    margin: 30px 40px 40px 40px;
    width: calc(100% - 80px);
}

h1, h2 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color:inherit;
}

/* hover effects */
.filter-content:hover, .accomodation-card:hover, .activities-content-article:hover {
    transform: scale(1.03);
    transition: transform .4s ease;
}



/*-- Header --*/

#header-first-line {
    display: flex;
    align-items: center;
    width: 100%;
}

#logo {
    width: calc(97% - 550px);
    order:1;
 }

#subscription {
    font-weight: 800;
    margin: 0 20px 0 20px;
    order:3;
    width: 50px;
    color: #0065FC;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 500px;
    order: 2;
}

header div a {
    text-decoration: none;
    font-weight: 500;
    padding: 0 20px;
}

header nav a:active, header nav div :nth-child(1) {
    border-top: 2px solid #0065FC;
    padding-top: 43px;
}

header nav div :nth-child(1)  {
    color: #0065FC;
}

header h1 {
    margin-top: 50px;
}

#header-search p {
    margin-bottom: 50px;
    font-size: 0.9em;
}


/*-- Search input --*/

#header-search p {
    font-weight: 500;
}

#header-search-input {
    height: 40px;
    min-width: 420px;
    width: 30%;
}

#header-search input {
    width: 40%;
    font-weight: 700;
    font-size: 1em;
    margin-left: 10px;
    height: 100%;
    border-width:0;
}

#header-search span i {
    background: #f2f2f2;
    padding: 20px;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

header button {
    background-color: #0a5ff4 ;
    border: none;
    height: 50px;
    min-width: 8%;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    padding: 0 20px 0 20px;
    color: white;
    font-weight: 500;
    font-size: 1em;
}

#accomodations-search-input-button-smartphone {
    display: none;
}



/*-- Filters --*/

#filters {
    margin: 40px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

#filters i {
    color:#0a5ff4;
    background-color: #ddeafd;
    width: 2.2em;
    height: 2.2em;
    border-radius: 1.7em;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 1.5em;
}

.filter-container {
    vertical-align: middle;
    padding: 10px 0 0 25px;
    font-size: 0.9em;
}

.filter-content {
    font-weight:bold;
    display: flex;
    border: 0.18em #d8d8d8 solid;
    border-radius: 2.4em;
    align-items: center;
}

#filters p {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 800;
}

#result-information {
    display: flex;
}

#result-information p {
    font-weight: 400;
    font-size: 0.9em;
}

#result-information span {
    display: inline-block;
    width: 25px;
    height: 24px;
    border: 0.08em #d8d8d8 solid;
    border-radius: 2.4em;
    text-align: center;
    margin: 10px 10px 0 0;
}

#result-information span i {
    font-size: 0.8em;
    color:#0a5ff4;
}


/*-- Main --*/


/*-- Accomodation --*/

#accomodations {
    width: 100%;
    display: flex;
    margin: 10px 0 10px 0;
}

#accomodations section {
    background-color: #f2f2f2;
    width: 66%;
    border-radius: 1em;
    margin-right: 40px;
    padding-left: 30px;
}

#accomodations aside {
    background-color: #f2f2f2;
    width: calc(34% - 40px);
    border-radius: 1em;
    padding-left: 30px;
}

#accomodations-content {
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-around;
}



/* Cards */

.accomodation-card {
    background-color: white;
    width: 27%;
    height: 200px;
    border-radius: 1em;
    font-size: 0.8em;
    text-decoration: none;
    box-shadow: 1px 1px 6px #9999;
    margin:0 30px 30px 0;
    text-align: center;
}

.accomodation-card h3, .accomodation-card p, .accomodation-card img {
    margin: 0 0 5px 0;
}

.accomodation-card-information {
    padding-left: 15px;
    text-align: left;
}

.accomodation-card img {
    object-fit: cover;
    margin-top: 5px;
    width: 95%;
    height: 120px;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

/*-- Popular - Aside --*/

#accomodations-popular-title {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

#accomodations-popular-title i {
    position: relative;
    top: 27px;
    font-size: 1.25em;
    padding-right: 40px;
}

#accomodations-popular-content .accomodation-card {
    width: 90%;
    min-width: 300px;
    height: 140px;
    padding: 5px 5px;
}

#accomodations-popular-content div {
    padding: 15px 15px;
}

#accomodations-popular-content .accomodation-card img {
    border-radius: 0.5em 0px 0px 0.5em;
    max-width: 130px;
    height: 140px;
    margin: 0px 0 0 0;
    object-fit: cover;
}

#accomodations-popular-content .accomodation-card a {
    display: flex;
}

#accomodations-popular-content p {
    margin: 10px 0 40px 0;
}


/*-- rating stars color --*/

.checked {
    color:#0065FC;
}

.unchecked {
    color: #cecece;
}



/*-- Activities --*/

#activities {
    margin-top: 60px;
}

#activities-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.activities-content-stair-container {
    display: flex;
    flex-direction:column;
    width: calc(26% - 40px);
    margin: 0 0 0 40px;
}

#activities h3 {
    vertical-align: bottom;
    margin-bottom: 24px;
}

#activities h3 {
    margin: 15px 0% 0 20px;
}

#second-full-height-activity-container {
    margin: 0 0 0 40px;
}

.activities-content-article {
    background-color: white;
    width: calc(25% - 40px);
    height: 440px;
    border-radius: 1.5em;
    font-size: 0.9em;
    text-decoration: none;
    box-shadow: 2px 2px 6px #e6e6e6;
    object-fit: cover;
}

.activities-content-article:nth-child(1) {
    margin-bottom: 40px;
}

.activities-content-stair-container article {
    background-color: white;
    width: 100%;
    height: 200px;
    border-radius: 1.5em;
    font-size: 0.9em;
    text-decoration: none;
    box-shadow: 2px 2px 6px #e6e6e6;
    margin: 0 40px 0 0;
    object-fit: cover;
}

.activities-content-stair-container article img {
    width: 100%;
    height: 140px;
    border-top-right-radius: 1.58em;
    border-top-left-radius: 1.5em;
    object-fit: cover;
}

.activities-content-article img {
    width: 100%;
    height: 380px;
    border-top-right-radius: 1.5em;
    border-top-left-radius: 1.5em;
    object-fit: cover;
}

/*-- Footer --*/

footer {
    display: flex;
    justify-content:left;
    background-color: #f2f2f2;
    padding-top: 40px;
}

footer section {
    text-align: left;
}

#about, #our-accomodations {
    padding-right: 400px;
}

footer h3 {
    padding-left: 40px;
    font-size: 1em;
}

footer li {
    list-style: none;
    padding-bottom: 15px;
    font-size: 0.9em;
}




/******************* R E S P O N S I V E **********************/



/***** Smartphone ******/


@media all and (max-device-width: 768px)
{
    body {
        width: 100%;
        margin: 0;
        font-size: 1em;
    }

    #body-without-footer {
        margin: 10px 0px 10px 0px;
        width: unset;
    }

    header {
        margin: 24px 24px;
    }

    #header-first-line {
        margin-bottom: 160px;
        justify-content: space-between;
        width: calc(100% - 20px);
        margin-right: 10px;
        margin-left: 10px;
    }

    #header-search {
        margin-top: 100px;
        display: block;
    }

    header nav {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top:100px;
    }

    header nav a {
        width: 50%;
        text-align: center;
        margin-right: 0;
    }

    header div {
        display: flex;
    }

    header nav div :nth-child(1), header nav a:active  {
        border-top: none;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 20px;
        box-sizing: content-box;
    }

    header nav div :nth-child(2)  {
        border-top: none;
        border-bottom: 3px solid #e6e6e6;
        padding-bottom: 20px;
        box-sizing: content-box;
        padding-top: 43px;
    }

    #header-search input {
        width: 70%;
    }

    #header-search-input {
        height: 40px;
        min-width: 200px;
        max-width: 400px;
        width: 100%;
    }

    #location-button {
        position: relative;
        top: -10px;
    }

    #accomodations-search-input-button-smartphone {
        display: block;
        border-radius: 0.7em;
        position: relative;
        top: -4px;
        height: 50px;
    }
    #accomodations-search-input-button {
        display: none;
    }

    /*-- Filter --*/

    #filters {
        width: 100%;
    }

    #filters h3 {
        padding: 0 20px 0 0;
        margin-bottom: 5px;
    }

    .filter-container {
        vertical-align: middle;
        padding: 10px 20px 0 0px;
    }

    #result-information span {
        min-width: 25px;
    }

    /* Main */

    main {
        width: calc(100% - 48px);
        margin: 0;
        padding: 0 0 0 0;
        margin: 0 24px 0 24px;
    }

    /* Accomodations */

    #accomodations {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0 0 0 0;
        flex-direction: column;
    }

    #accomodations section {
        background-color:white;
        order: 2;
        width:unset;
        margin: 0;
        padding: 0;
    }
    
    #accomodations aside {
        order:1;
        border-radius: 0em;
        width: 100%;
        margin: 0 -24px 0 -24px;
        padding: 0 24px 0 24px;
    }

    .accomodation-card {
        width: 100%;
        min-width: unset;
        margin: 0px 0 24px 0;
        padding: 0 0 10px 0;
    }

    #accomodations-popular-content .accomodation-card {
        width: 97%;
        min-width: 260px;
    }

    #accomodations .accomodation-card {
        min-width: 220px;
    }

    #accomodations-popular-content div {
        padding: 10px 10px;
    }

    #accomodations-popular-content p {
        margin: 10px 0 30px 0;
    }

    .accomodation-card img {
        width: 97%;
    }

    /* Activities */

    #activities {
        padding: 0;
    }

    #activities-content {
        display: block;
    }

    #activities article {
        background-color: white;
        width: 100%;
        height: 190px;
        border-radius: 1.5em;
        font-size: 1em;
        text-decoration: none;
        box-shadow: 2px 2px 6px #e6e6e6;
        margin: 0 0 30px 0;
        object-fit: cover;
    }

    #activities img {
        height: 140px;
    }

    .activities-content-stair-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 0 0 0px;
    }

    #activities h3 {
        font-size: 1em;
    }

    /* Footer */

    footer {
        display: block;
    }

    footer section {
        text-align: left;
        padding-bottom: 10px;
    }

    #about, #our-accomodations {
        padding: 0 0 10px 0;
    }
}


/******** Tablet ********/


@media (min-width: 480px) and (max-width: 768px) {
body {
    font-size: 1em;
    }  
#accomodations-popular-content div {
    font-size: 1em;
    }
}

/******** small screen ********/

@media (min-width: 768px) and (max-width: 1124px) {

    #logo {
        width: calc(97% - 350px);
    }

    nav {
        width: 300px;
    }

    header div a {
        margin-right: 0;
        padding: 0px 20px;
    }

    #accomodations section {
        width: 60%;
    }

    #accomodations aside {
        width: 40%;
    }
}


    /* Accomodation card from 768px to 1124px */

    @media (min-width: 768px) and (max-width: 914px) {

        .accomodation-card {
            min-width: 290px;
        }
    }

    @media (min-width: 914px) and (max-width: 1124px) {

        .accomodation-card {
            min-width: 190px;
        }
    }


/* Activities from 768px to 1124px */

@media (min-width: 768px) and (max-width: 1124px) {

#activities {
    padding: 0;
}

#activities-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#first-full-height-activity-container, #second-full-height-activity-container {
    background-color: white;
    width: calc(35% - 60px);
    height: 200px;
    border-radius: 1.5em;
    font-size: 1em;
    text-decoration: none;
    box-shadow: 2px 2px 6px #e6e6e6;
    margin-bottom: 30px;
    object-fit: cover;
}

#card-1, #card-2, #card-3, #card-4 {
    margin: 0px 0 0 30px;
}

#second-full-height-activity-container {
    margin: 0;
}

#activities img {
    height: 140px;
}

.activities-content-stair-container {
    display: flex;
    flex-direction: row;
    justify-content: unset;
    width: 67%;
    margin: 0 0 0 0px;
}

#activities h3 {
    font-size: 1em;
}

}



/* Popular accomodation card and section from 768px to 1368px */

@media (min-width: 768px) and (max-width: 1368px) {

#accomodations-popular-content .accomodation-card {
    min-width: 250px;
}

#accomodations-popular-content div {
    padding: 10px 15px;
}

#accomodations-popular-content p {
    margin: 10px 0 10px 0;
}

}


/* Footer 764px to 1368px */

@media (min-width: 768px) and (max-width: 1368px) {

footer {
    justify-content:space-between;
    padding: 40px 40px;
}

#about, #our-accomodations {
    padding-right: 0px;
}

footer h3, footer ul{
    padding: 0;
}
}



